<ion-header>
  <ion-toolbar>
    <ion-title>Soporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="openChat()" [disabled]="isLoading">
    Abrir chat
  </ion-button>

  <ion-button expand="block" color="medium" (click)="closeChat()" [disabled]="isLoading">
    Cerrar chat
  </ion-button>

  <div style="margin-top:16px; text-align:center" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
    <div>Cargando chat...</div>
  </div>
</ion-content>
